<h1>Posts</h1>
<% posts.each(function(post) { %>
<a href="/posts/<%= post.get("id") %>">
	<div class="row post">
		<p>Poster: <%= post.get("user") %></p>
		<p>Posted on: <%= post.get("created_at") %></p>
		<p>Title: <%= post.get("title") %></p>
		<p>Category: <%= posts.getCategory(post.get("category")) %></p>
		<p>Description: <%= post.get("description") %></p>
		<p>Candidate Name: <%= post.get("candidate_name") %></p>
		<p>Deadline: <%= post.get("deadline") %></p>
	</div>
</a>
<% }) %>
<a href="/posts/new">Add Post</a>
