<h1>My Posts</h1>
<button type="submit" id="new_post" class="btn">Add Post</button>

<% posts.each(function(post) { %>
<button class="post" data-toggle="modal" href="#show_content" data-post="<%= post.get("id") %>">
  <p><img src="<%= post.get("profile_pic_url") %>"></p>
	<p>Posted on: <%= post.get("created_at") %></p>
	<p>Title: <%= post.get("title") %></p>
	<p>Category: <%= posts.getCategory(post.get("category")) %></p>
	<p>Description: <%= post.get("description") %></p>
	<p>Candidate Name: <%= post.get("candidate_name") %></p>
	<p>Deadline: <%= post.get("deadline") %></p>
</button>
<button type="button" id="see-evaluation" data-toggle="modal" href="#show_content" data-post="<%= post.get("id") %>">See Evaluation</button>
<% }) %>

<div id="show_content" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  </div>
  <div id="content" class="modal-body">

  </div>
  <div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn">Close</button>
  </div>
</div>