<% posts.each(function(post) { %>

<button class="post" data-toggle="modal" href="#show_content" data-post="<%= post.get("id") %>">
  <div class="container">
  <div class="row">
  <div class="span1"><img class="prof-pic" src="<%= post.get("profile_pic_url") %>"></div>
  <div class="span11">
  	<p class="title"><%= post.get("title") %></p>
  	<p class="category">Category: <%= posts.getCategory(post.get("category")) %></p>
  	<p class="deadline">Deadline: <%= post.get("deadline") %></p>
  </div>
</button>
<button type="button" id="see-evaluation" data-toggle="modal" href="#show_content" data-post="<%= post.get("id") %>">See Evaluation</button>
<% }) %>

<button type="submit" id="new_post" class="btn">Add Post</button>

<div id="show_content" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  </div>
  <div id="content" class="modal-body">

  </div>
  <div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn">Close</button>
  </div>
</div>