<h1>My Posts</h1>

<% posts.each(function(post) { %>

<button class="post" data-toggle="modal" href="#show_content" data-post="<%= post.get("id") %>">
  <div class="container">
  <div class="row">
  <div class="span12">
  	<p class="title">
      <%= post.get("title") %>
      <% if (post.get("num_applicants") > 0 && (post.get("application_status") === false)) { %>
      <span class="red">[<%= post.get("num_applicants") %>]</span> 
      <% } %>
    </p>
  	<p class="category"><strong>Category</strong>: <%= posts.getCategory(post.get("category")) %></p>
  	<p class="deadline"><strong>Deadline</strong>: <%= post.get("deadline") %></p>
  </div>
</button>
<% }) %>

<button type="submit" id="new_post" class="btn">Add Post</button>

<div id="show_content" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  </div>
  <div id="content" class="modal-body">

  </div>
  <div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn">Close</button>
  </div>
</div>