<h1><%= post.get("title") %></h1>
<div>
	<p><img src="<%= post.get("profile_pic_url") %>"></p>
	<p>Poster: <a id="show_user" data-user="<%= post.get("user_id") %>" href="#"><%= post.get("user") %></a></p>
	<p>Posted on: <%= post.get("created_at") %></p>
	<p>Category: <%= post.getCategory() %></p>
	<p>Description: <%= post.get("description") %></p>
	<p>Candidate Name: <%= post.get("candidate_name") %></p>
	<p>Deadline: <%= post.get("deadline") %></p>
</div>

<% if (current_user.get("id") !== post.get("user_id")) { %>
	<% if (!post.get("has_application")) { %>
		<button class="btn" id="apply">Apply for Interview</button>
	<% } else { %>
		<p>Pending</p>
	<% } %>
<% } %>
