<div class="container">
<div class="row">
	<div class="span2"><img class="prof-pic" src="<%= post.get("profile_pic_url") %>"></div>
	<div class="span10">
		<div class="title"><%= post.get("title") %> <span class="right"><%= post.get("created_at") %></span></div>
		<p><strong>Poster</strong>: <a id="show_user" data-user="<%= post.get("user_id") %>" href="#"><%= post.get("user") %></a></p>
		<p><strong>Category</strong>: <%= post.getCategory() %></p>
	</div>
</div>
<div class="row description">
<div class="span12"><strong>Description</strong>: <%= post.get("description") %>
</div>
</div>
</div>

<div class="modal_footer">
<p><strong>Interviewee</strong>: <%= post.get("candidate_name") %></p>
<p><strong>Deadline</strong>: <%= post.get("deadline") %></p>
<% if (!current_user || (current_user.get("id") !== post.get("user_id"))) { %>
	<% if (post.get("application_status") === -1) { %>
		<button class="btn" id="apply">Apply for Interview</button>
	<% } %>
<% } else { %>
	<% if (post.get("application_status") === false) { %>
		<h3>Applicants</h3>
		<% applications.each(function(application) { %>
		  <p><a href="/users/<%= application.get("applicant_id") %>">View Applicant</a></p>
		  <p><a data-application="<%= application.get("id") %>" class="accept">Accept Applicant</a></p>
		<% }) %>
	<% } else if (post.get("application_status") !== -1) { %>
		<p><a href="/users/<%= post.get("application_status") %>">View Accepted Applicant</a></p>
		<p>View Evaluation</p>
	<% } %>
<% } %>
</div>