<h1>Show</h1>
<div class="row">
	<p><%= post.get("title") %></p>
	<p><%= post.getCategory() %></p>
	<p><%= post.get("description") %></p>
	<p><%= post.get("candidate_name") %></p>
	<p><%= post.get("deadline") %></p>
</div>

<button class="btn" id="apply">Apply for Interview</button>
