<h1><%= post.get("title") %></h1>
<div>
	<p><img src="<%= post.get("profile_pic_url") %>"></p>
	<p>Poster: <a id="show_user" data-user="<%= post.get("user_id") %>" href="#"><%= post.get("user") %></a></p>
	<p>Posted on: <%= post.get("created_at") %></p>
	<p>Category: <%= post.getCategory() %></p>
	<p>Description: <%= post.get("description") %></p>
	<p>Candidate Name: <%= post.get("candidate_name") %></p>
	<p>Deadline: <%= post.get("deadline") %></p>
</div>

<% if (!current_user || (current_user.get("id") !== post.get("user_id"))) { %>
	<% if (post.get("application_status") === -1) { %>
		<button class="btn" id="apply">Apply for Interview</button>
	<% } %>
<% } else { %>
	<% if (post.get("application_status") === false) { %>
		<h3>Applicants</h3>
		<% applications.each(function(application) { %>
		  <p><a href="/users/<%= application.get("applicant_id") %>">View Applicant</a></p>
		  <p><a data-application="<%= application.get("id") %>" class="accept">Accept Applicant</a></p>
		<% }) %>
	<% } else if (post.get("application_status") !== -1) { %>
		<p><a href="/users/<%= post.get("application_status") %>">View Accepted Applicant</a></p>
		<p>View Evaluation</p>
	<% } %>
<% } %>