<h1>Show</h1>
<div>
	<p>Poster: <%= post.get("user") %></p>
	<p>Posted on: <%= post.get("created_at") %></p>
	<p>Title: <%= post.get("title") %></p>
	<p>Category: <%= post.getCategory() %></p>
	<p>Description: <%= post.get("description") %></p>
	<p>Candidate Name: <%= post.get("candidate_name") %></p>
	<p>Deadline: <%= post.get("deadline") %></p>
</div>

<% if (current_user.get("id") !== post.get("user_id")) { %>
<button class="btn" id="apply">Apply for Interview</button>
<% } %>
